---
layout: page
title: Melanie Tsou
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A DREAMER &#38; <br> A DOER</h1>
          <p class="animated fadeInUp">I believe in using digital marketing to create a positive impact, whether that be for people or the planet. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>What Job Opportunities Am I Looking For?</h2>
            </div>
            <p>After graduating from the University of Virginia with a B.S. in Commerce in 2013, I joined the creative and analytical world of marketing.</p>
  
          <p>I've been drawn to working at purpose-driven companies, from non-profits to eco-friendly companies to professional membership bodies. The one thing they all have in common is that I believe strongly in their mission and ability to make a positive difference.</p>

          <p>I recently moved to New York in May and now I'm looking for digital marketing opportunities that will enable me to be creative and grow at a company that believes "doing good is good business".</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WHAT HAVE I WORKED ON?</h2>
      <p>I've had the unique experience of working as a one-woman marketing team where I wore multiple hats, but I've also worked collaboratively across internals teams to successfully launch new products and events.</p>
      <p>In addition, I've taken a UX Design course to create and test a new mobile app and helped a non-profit, The Plato Society, improve their paid search campaigns using a $10,000 monthly budget.</p>
      <p>In my free time, I like to work on my travel blog and Instagram.</p>
      <a href="{{ site.baseurl }}/projects/" class="btn btn-view-works" >View Projects</a>
    </div>
  </div>
</div>
</section>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Me</h2>
        <p>Get to know me a bit more through numbers and recommendations by former managers.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
